In [3]:
import pandas as pd

In [14]:
geo_distribution = {'Continent':['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'],
                    'Count':[267, 19494, 8341, 11328,1431],
                   'Percentage':[1, 48, 20, 28, 4]
                              }

sex_distribution_zolpidem = {'Sex':['Female', 'Male', 'Unknown'],
                            'Count':[22490, 15339,3032],
                            'Percentage':[55,38,7]
                            }

ADR_perYear_Zolpidem = {'Year':[2022,2021,2020,2019,2018,2017,2016, 2015,
                               2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,
                               2000, 1999,1998,1997,1996, 1995,1994,1993,1992,1991,1990,1989,1988],
                        'Count':[1328,1787,2440,3730,3645,2854,2392,3220,
                                4373,967,1479,1796,1270,1257,2792,96,
                                667,687,216,251,204,258,664,212,212,262,353,401,427,371,
                                141,45,39,20,5],
                        'Percentage':[3,4,6,9,9,7,6,8,11,2,4,4,3,3,7,0,2,2,
                                     1,1,0,1,2,1,1,1,1,1,1,1,0,0,0,0,0]
                        }


ReportedPotentialSE = { 'Body System':['Blood and Lymphatic system disorders',
                                      'Cardac disorders',
                                      'Congenital, familiar and genetic disorders',
                                      'Ear and labyrinth disorders',
                                      'Endocrine disorders',
                                      'Eye disorders',
                                      'Gastrointestinal disorders',
                                      'General disorders and administration site conditions',
                                      'Hepatobiliary disorders',
                                      'Immune system disorders',
                                      'Infections and infestations',
                                      'Injury, poisoning and procedural complications',
                                      'Investigations',
                                      'Metabolism and nutrition disorders',
                                      'Musculoskeletal and connective tissue disorders',
                                      'Neoplasms benign, malignant and unspecified',
                                      'Nervous system disorderds',
                                      'Pregnancy, puerperium and perinatal conditions',
                                      'Product issues',
                                      'Psychiatric disorders',
                                      'Renal and urinary disorders',
                                      'Reproductive system and breast disorders', 
                                      'Respiratory, thoracic and mediastinal disorderds',
                                      'Skin and subcutaneous tissue disorders',
                                      'Social circumstances',
                                      'Surgical and medical procedures', 
                                      'Vascular disorders'],
                       'Count ADRs':[395,2193,126,469,84,1165,3492,10318,511,739,629,9326,
                                    1892,943,1354,123,13309,187,1282,21475,675,208, 2041, 1838,
                                    1309, 293, 1080],
                       'Percentage':[1,3,0,1,0,2,5,13,1,1,1,12,2,1,2,0,17,0,2,28,1,0, 3, 2,2, 0,1]
    
}

desfechoPd_zolpidem = { 'Psychiatric disorders':['Completed Suicied', 'Confusion State', 'Somnambulism',
                                               'Delirium', 'Hallocination', 'Insomnia', 'Drug dependence',
                                              'Drug abuse'],
                                            'Count':[2681, 2338, 2247, 2094, 1916, 1879, 1562, 1503]    
}

desfechoNs_zolpidem = { 'Nervous system disorderds':['Amnesia','Somnolence','Dizziness','Headache','Memory impairment',
                                                    'Loss of consciousness','tremor', 'Coma'],
                       'Count':[ 3030, 2254, 1776, 1197, 732, 710, 520, 500]
    
}

In [3]:
geo = pd.DataFrame(geo_distribution)
geo

  Continent  Count  Percentage
0    Africa    267           1
1  Americas  19494          48
2      Asia   8341          20
3    Europe  11328          28
4   Oceania   1431           4

In [4]:
sex_zolpidem = pd.DataFrame(sex_distribution_zolpidem)
sex_zolpidem

       Sex  Count  Percentage
0   Female  22490          55
1     Male  15339          38
2  Unknown   3032           7

In [5]:
ADR_Zolpidem = pd.DataFrame(ADR_perYear_Zolpidem)
ADR_Zolpidem

    Year  Count  Percentage
0   2022   1328           3
1   2021   1787           4
2   2020   2440           6
3   2019   3730           9
4   2018   3645           9
5   2017   2854           7
6   2016   2392           6
7   2015   3220           8
8   2014   4373          11
9   2013    967           2
10  2012   1479           4
11  2011   1796           4
12  2010   1270           3
13  2009   1257           3
14  2008   2792           7
15  2007     96           0
16  2006    667           2
17  2005    687           2
18  2004    216           1
19  2003    251           1
20  2002    204           0
21  2001    258           1
22  2000    664           2
23  1999    212           1
24  1998    212           1
25  1997    262           1
26  1996    353           1
27  1995    401           1
28  1994    427           1
29  1993    371           1
30  1992    141           0
31  1991     45           0
32  1990     39           0
33  1989     20           0
34  1988      5           0

In [6]:
Reported_SEZolpidem = pd.DataFrame(ReportedPotentialSE)
Reported_SEZolpidem

                                          Body System  Count ADRs  Percentage
0                Blood and Lymphatic system disorders         395           1
1                                    Cardac disorders        2193           3
2          Congenital, familiar and genetic disorders         126           0
3                         Ear and labyrinth disorders         469           1
4                                 Endocrine disorders          84           0
5                                       Eye disorders        1165           2
6                          Gastrointestinal disorders        3492           5
7   General disorders and administration site cond...       10318          13
8                             Hepatobiliary disorders         511           1
9                             Immune system disorders         739           1
10                        Infections and infestations         629           1
11     Injury, poisoning and procedural complications        9326          12
12                                     Investigations        1892           2
13                 Metabolism and nutrition disorders         943           1
14    Musculoskeletal and connective tissue disorders        1354           2
15        Neoplasms benign, malignant and unspecified         123           0
16                          Nervous system disorderds       13309          17
17     Pregnancy, puerperium and perinatal conditions         187           0
18                                     Product issues        1282           2
19                              Psychiatric disorders       21475          28
20                        Renal and urinary disorders         675           1
21           Reproductive system and breast disorders         208           0
22   Respiratory, thoracic and mediastinal disorderds        2041           3
23             Skin and subcutaneous tissue disorders        1838           2
24                               Social circumstances        1309           2
25                    Surgical and medical procedures         293           0
26                                 Vascular disorders        1080           1

In [9]:
desfechoPdZ = pd.DataFrame(desfechoPd_zolpidem)
desfechoPdZ

  Psychiatric disorders  Count
0     Completed Suicied   2681
1       Confusion State   2338
2          Somnambulism   2247
3              Delirium   2094
4         Hallocination   1916
5              Insomnia   1879
6       Drug dependence   1562
7            Drug abuse   1503

In [15]:
desfechoNvZ = pd.DataFrame(desfechoNs_zolpidem)
desfechoNvZ

  Nervous system disorderds  Count
0                   Amnesia   3030
1                Somnolence   2254
2                 Dizziness   1776
3                  Headache   1197
4         Memory impairment    732
5     Loss of consciousness    710
6                    tremor    520
7                      Coma    500

In [19]:
desfecho_merge_Zolpidem = pd.concat(desfechoPdZ, desfechoNvZ)
desfecho_merge_Zolpidem

C:\Users\Matheus\AppData\Local\Temp\ipykernel_1160\3516767856.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  desfecho_merge_Zolpidem = pd.concat(desfechoPdZ, desfechoNvZ)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"